/* Demo 18 Homepage 18 */ /* Fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800");
/* font-family: 'Poppins', sans-serif; */
.mb-md-12 {
  margin-bottom: 5rem !important;
}

.title {
  font-weight: 600;
  font-size: 2.2rem;
  letter-spacing: -0.025em;
  margin-bottom: 2.4rem;
}

.title.brands,
.title.instagram {
  font-size: 2rem;
  margin-bottom: 4.5rem;
}

.header.header-11 .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header.header-11 .header-middle {
  border-bottom: none;
  margin-bottom: -30px;
}
.header.header-11 .header-middle .menu > li > a {
  font-weight: 400;
  letter-spacing: -0.01em;
  padding-right: 2rem;
}
.header.header-11 .wishlist-link .wishlist-count,
.header.header-11 .cart-dropdown .cart-count {
  min-width: 1.7rem;
  height: 1.7rem;
  margin-bottom: 1.5rem;
  margin-left: -1.2rem;
}
.header.header-11 .wishlist-link {
  font-size: 2.8rem;
}
.header.header-11 .header-search-extended {
  margin: 0;
  max-width: 230px;
}
.header.header-11 .header-search-extended .btn.btn-primary {
  color: #fff;
  font-size: 2.2rem;
  background-color: transparent;
  max-width: 40px;
  padding-top: 0.5rem;
}
.header.header-11 .header-search-extended .btn.btn-primary:hover, .header.header-11 .header-search-extended .btn.btn-primary:focus, .header.header-11 .header-search-extended .btn.btn-primary:active {
  background-color: transparent;
  color: #cc9966;
}
.header.header-11 .header-search-extended .form-control {
  padding-left: 0.7rem;
  padding-bottom: 0.5rem;
  background-color: transparent;
  font-size: 1.3rem;
}
.header.header-11 .header-search-extended .form-control::-webkit-input-placeholder {
  color: #fff;
}
.header.header-11 .header-search-extended .form-control::-moz-placeholder {
  color: #fff;
}
.header.header-11 .header-search-extended .form-control:-ms-input-placeholder {
  color: #fff;
}
.header.header-11 .header-search-extended .form-control::-ms-input-placeholder {
  color: #fff;
}
.header.header-11 .header-search-extended .form-control::placeholder {
  color: #fff;
}
.header.header-11 .header-search-wrapper {
  background-color: transparent;
  border: none;
  border-bottom: 0.1rem solid #fff;
  border-radius: 0;
  min-width: 230px;
}
.header.header-11 .mobile-menu-toggler {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.heading {
  margin-bottom: 4.2rem;
  position: relative;
}
.heading .title {
  margin-bottom: 0.9rem;
}

.heading-ig {
  margin-bottom: 4.2rem;
  position: relative;
}
.heading-ig h4 {
  font-size: 1.8rem;
  font-weight: 700;
}
.heading-ig .logo-hashtag {
  margin: auto;
  width: 20%;
  margin-bottom: 2rem;
}

.title-desc {
  letter-spacing: 0;
}

.btn-outline-white {
  border-color: #cc9966;
}

.btn-outline-primary-2:not(:hover):not(:focus) {
  color: #333333;
}

.btn-more {
  min-width: 230px;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.more-container .btn-more {
  min-width: 218px;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.more-container {
  margin-top: 1rem;
  margin-bottom: 0;
}

.intro-slider-container,
.intro-slide {
  min-height: 100vh;
  background-color: #646369;
}

.intro-slider.owl-theme.owl-nav-inside .owl-dots {
  bottom: 20px;
}

.intro-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center center;
}
.intro-slide .intro-content {
  width: 740px;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: auto;
  top: auto;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -ms-transform: translateY(0);
  border-top-width: 0;
  border-bottom-width: 0;
  padding: 6rem 2rem;
}

.intro-content .btn.btn-outline-white {
  text-transform: uppercase;
  border: none;
  font-size: 1.3rem;
  color: #cc9966;
  letter-spacing: 0.1em;
  min-width: 0;
}
.intro-content .btn.btn-outline-white:hover, .intro-content .btn.btn-outline-white:focus, .intro-content .btn.btn-outline-white:active {
  background-color: transparent;
  color: #fff;
}

.intro-subtitle {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.intro-subtitle.cross-txt {
  top: 0;
}

.intro-content .intro-action.cross-txt {
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
.intro-content .intro-action.cross-txt .btn {
  padding: 0;
}
.intro-content .intro-action.cross-txt::before {
  margin-right: 3rem;
}
.intro-content .intro-action.cross-txt::after {
  margin-left: 3rem;
}

.banner-set-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #777;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #fff;
  padding: 2rem 3rem 1.5rem;
}
.banner-set-content h4 {
  text-transform: uppercase;
  color: #cc9966;
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  letter-spacing: 0;
}
.banner-set-content h2 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: -0.025em;
  margin-bottom: 1.5rem;
}
.banner-set-content p {
  max-width: 420px;
  letter-spacing: -0.01em;
  font-size: 1.6rem;
  font-weight: 300;
}
.banner-set-content.text-center p {
  margin-left: auto;
  margin-right: auto;
}

.product.product-2:hover, .product.product-2:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.banner-set-products {
  margin-top: 4rem;
  max-width: 390px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.text-center .banner-set-products {
  margin-left: auto;
  margin-right: auto;
}
.banner-set-products .product.product-2 {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 0;
}
.banner-set-products .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner-set-products .row .products {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83%;
          flex: 0 0 83%;
  max-width: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.banner-set-products .row .products > div {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.banner-set-products .product-body {
  padding-right: 0;
  padding-bottom: 0;
}
.banner-set-products .product-price {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner-set-products .product-title {
  letter-spacing: -0.01eml;
}

.banner-set-image > a {
  display: block;
}
.banner-set-image img {
  max-width: none;
  width: 100%;
}
.banner-set-image .banner-title {
  margin-bottom: 2.6rem;
}
.banner-set-image .banner-title span {
  font-size: 2.4rem;
  letter-spacing: -0.025em;
}
.banner-set-image .banner-content {
  left: 5rem;
  top: initial;
  -webkit-transform: none;
          transform: none;
  bottom: 8rem;
}
.banner-set-image .banner-title span,
.banner-set-image .banner-link,
.banner-set-image .banner-detail {
  color: #fff;
}
.banner-set-image .banner-subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0;
  color: #ebebeb;
  text-transform: uppercase;
}
.banner-set-image .banner-detail {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 2.5rem;
  line-height: 1.4em;
}
.banner-set-image .banner-price {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0;
  color: #ebebeb;
  margin-bottom: 3rem;
}
.banner-set-image .btn.banner-link {
  padding: 1.5rem 4rem;
  border-radius: 3rem;
  color: #fff;
  border: 0.2rem solid #fff;
}
.banner-set-image .btn.banner-link:hover, .banner-set-image .btn.banner-link:focus, .banner-set-image .btn.banner-link:active {
  color: #cc9966;
  background-color: #fff;
  border-color: #fff;
}

.intro-title {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.01em;
  margin-top: 1rem;
  margin-bottom: 1.3rem;
  text-transform: uppercase;
}

.intro-text {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.owl-theme .owl-nav [class*=owl-] {
  width: 4rem;
  height: 4rem;
  font-size: 2.2rem;
  margin-top: -2rem;
}

.owl-theme.owl-nav-inside .owl-nav .owl-prev {
  left: 100px;
}

.owl-theme.owl-nav-inside .owl-nav .owl-next {
  right: 100px;
}

.owl-theme.owl-light .owl-nav [class*=owl-] {
  border-color: #fff;
  color: #fff;
}

.owl-simple .owl-nav.disabled + .owl-dots {
  margin-top: 1.5rem;
}

.banners {
  margin-bottom: 1.5rem;
}

.banner-hover .banner-content {
  text-align: center;
  padding-top: 0;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.banner-hover .banner-title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 0.6rem;
  letter-spacing: -0.025em;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
.banner-hover .banner-link {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
.banner-hover:hover .banner-title,
.banner-hover:hover .banner-link {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.banner-link {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: #ebebeb;
  text-transform: uppercase;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.banner-link i {
  margin-left: 0.7rem;
}
.banner-link:hover, .banner-link:focus {
  color: #ebebeb;
  text-decoration: none !important;
  -webkit-box-shadow: 0 1px 0 0 #ffF;
          box-shadow: 0 1px 0 0 #ffF;
}

.deal-container .banner-subtitle {
  color: #666;
  margin-bottom: 0.9rem;
  font-weight: 400;
}
.deal-container .banner-content.banner-content-top {
  top: 4rem;
}
.deal-container .banner-text {
  font-weight: 600;
}

.bg-green {
  background-color: #4C6346;
}

.bg-lime {
  background-color: #E0E9CC;
}

.deal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 2rem;
  margin-bottom: 2rem;
}

.deal-content {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
  padding: 3.5rem 0 2rem;
}
.deal-content .btn {
  padding-top: 0.85rem;
  padding-bottom: 0.85rem;
  font-weight: 500;
  color: #ffffff;
  background-color: transparent;
  border: 0.1rem solid #ebebeb;
}
.deal-content .btn:hover, .deal-content .btn:focus {
  color: #fff;
  border-color: #cc9966;
  background-color: #cc9966;
}
.deal-content h4 {
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.3;
  letter-spacing: -0.01em;
  margin-bottom: 0.5rem;
}
.deal-content h2 {
  color: #fff;
  font-weight: 600;
  font-size: 4rem;
  line-height: 1.1;
  letter-spacing: -0.05em;
  margin-bottom: 3.6rem;
}
.deal-content .product-title {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: -0.01em;
  margin-bottom: 0.7rem;
}
.deal-content .product-price {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 2.4rem;
}
.deal-content .new-price {
  font-weight: 600;
  color: #ffffff;
}

.deal-image {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}
.deal-image > a {
  display: block;
}

.deal-countdown {
  margin-bottom: 4rem;
  margin-left: -1rem;
  max-width: 270px;
}
.deal-countdown .countdown-show3 .countdown-section {
  width: calc(33.33% - 20px);
}
.deal-countdown .countdown-section {
  font-size: 1.2rem;
  line-height: 1;
  padding: 1.6rem 0;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #cc9966;
  border-radius: 0.3rem;
  border: 0.1rem solid #e1e1e1;
}
.deal-countdown .countdown-section:not(:last-child):after {
  color: #333333;
  content: ":";
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  position: absolute;
  left: 100%;
  margin-left: 9px;
  margin-top: -1px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.deal-countdown .countdown-period {
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  text-transform: lowercase;
  width: 100%;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.deal-countdown .countdown-amount {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: -0.05em;
  margin-bottom: 0.4rem;
}

@media screen and (min-width: 768px) {
  .deal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .deal-content {
    -ms-flex: 0 0 36%;
    -webkit-box-flex: 0;
            flex: 0 0 36%;
    max-width: 36%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .deal-image {
    -ms-flex: 0 0 64%;
    -webkit-box-flex: 0;
            flex: 0 0 64%;
    max-width: 64%;
  }
}
@media screen and (min-width: 1200px) {
  .deal-content {
    padding: 3.5rem 3rem 2rem;
  }
  .deal-content .btn {
    padding-top: 1.15rem;
    padding-bottom: 1.15rem;
  }
  .deal-content h4 {
    font-size: 2rem;
    color: #ffffff;
  }
  .deal-content h2 {
    font-size: 4rem;
    color: #ffffff;
  }
  .deal-content .product-title {
    font-size: 2.4rem;
    color: #ffffff;
  }
  .deal-content .product-price {
    font-size: 2.4rem;
    color: #ffffff;
  }
  .deal-countdown .countdown-section {
    padding-top: 2.1rem;
    padding-bottom: 2.1rem;
  }
  .deal-countdown .countdown-amount {
    font-size: 3rem;
  }
}
.product {
  margin-bottom: 3rem;
}
.product:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.product .product-body {
  padding-left: 0;
  padding-right: 0;
}

.product-cat {
  color: #ccc;
  font-weight: 400;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.product-title {
  font-size: 1.4rem;
  letter-spacing: 0;
}

.product-price {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.product.product-4 .product-action-vertical {
  top: 2rem;
}
.product.product-4 .product-price {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.product.product-4 .product-price .old-price {
  margin-left: 0;
  text-decoration: none;
  margin-top: 0.3rem;
}
.product.product-4 .btn-product {
  color: #333;
  background-color: #fff;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  text-transform: uppercase;
}
.product.product-4 .btn-product span {
  font-size: 1.4rem;
}
.product.product-4 .btn-product:before {
  display: none;
}
.product.product-4 .btn-product:hover, .product.product-4 .btn-product:focus {
  background-color: #cc9966;
}

.btn-product-icon:not(:hover):not(:focus) {
  color: #333;
}

.product.product-sm .product-price {
  font-size: 1.4rem;
}
.product.product-sm .product-price {
  color: #333333;
}

.sidebar .widget:last-child {
  margin-bottom: 3rem;
}

.sidebar-home {
  margin-top: 0;
  margin-bottom: 5rem;
}
.sidebar-home .widget {
  margin-bottom: 3rem;
}
.sidebar-home .widget-title {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.25;
  letter-spacing: -0.025em;
  margin-bottom: 2.1rem;
}

.widget-products .products {
  padding: 0;
  margin: 0;
}
.widget-products .product:last-child {
  margin-bottom: 0;
}

.widget-subscribe {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.43;
  color: #fff;
  padding: 4rem 3rem;
  background-size: cover;
  background-position: center center;
}
.widget-subscribe .widget-title {
  color: #fff;
  margin-bottom: 0.8rem;
  font-size: 2rem;
}
.widget-subscribe p {
  margin-bottom: 2.5rem;
  color: #ebebeb;
}
.widget-subscribe .form-control {
  height: 46px;
  padding: 1.15rem 2rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1.3rem;
}
.widget-subscribe .form-control:not(:focus) {
  border-color: #fff;
}
.widget-subscribe .btn {
  padding-top: 1.15rem;
  padding-bottom: 1.15rem;
  min-width: 0;
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.widget-banner .banner {
  margin-bottom: 0;
}
.widget-banner .banner-content {
  left: 3rem;
  padding-bottom: 2rem;
}
.widget-banner .banner-title a,
.widget-banner .banner-subtitle a,
.widget-banner .banner-link {
  color: #fff;
}
.widget-banner .banner-subtitle {
  font-weight: 300;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  letter-spacing: -0.025em;
}
.widget-banner .banner-title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
  letter-spacing: -0.025em;
}

.widget-posts {
  overflow: hidden;
}
.widget-posts .widget-title {
  font-size: 2rem;
}
.widget-posts .entry {
  color: #777;
  font-size: 1.4rem;
  line-height: 1.7;
  margin-bottom: 0;
}
.widget-posts .entry-media {
  margin-bottom: 1.5rem;
}
.widget-posts .entry-media img {
  margin-left: -1px;
  margin-right: -1px;
}
.widget-posts .entry-meta {
  margin-bottom: 0.3rem;
  color: #ccc;
}
.widget-posts .entry-title {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 0.7rem;
  letter-spacing: -0.01em;
}
.widget-posts .entry-content p {
  margin-bottom: 0.6rem;
}
.widget-posts .read-more {
  font-size: 1.4rem;
  text-transform: capitalize;
}
.widget-posts .owl-dots {
  text-align: left;
}
.widget-posts .owl-dots .owl-dot:first-child span {
  margin-left: 0;
}
.widget-posts .owl-simple .owl-nav.disabled + .owl-dots {
  margin-top: 1rem;
}

.footer .icon-boxes-container {
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}
.footer .icon-boxes-container .container {
  position: relative;
  padding-top: 2.3rem;
  padding-bottom: 2.3rem;
}
.footer .icon-boxes-container .container:before {
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  background-color: #ebebeb;
}
.footer .icon-box {
  font-size: 1.4rem;
}
.footer .icon-box-side {
  margin-left: -2rem;
}
.footer .icon-box-side .icon-box-icon {
  min-width: 7rem;
  color: #cc9966;
  font-size: 4rem;
}
.footer .icon-box-side .icon-box-title {
  font-size: 1.4rem;
  margin-bottom: 0.1rem;
  font-weight: 600;
}
.footer .icon-box-content {
  padding-top: 0.5rem;
}
.footer .icon-box-content p {
  letter-spacing: -0.01em;
}
.footer.footer-dark .icon-box-title {
  color: #fff;
}
.footer.footer-dark .icon-boxes-container .container:before {
  background-color: #525455;
}
.footer .footer-middle .container > .row > div:not(:first-child) {
  padding-left: 6rem;
}
.footer .footer-bottom .container,
.footer .footer-bottom .container-fluid {
  padding-bottom: 2.1rem;
}

.footer-about {
  list-style: decimal;
  text-align: justify;
  margin: 3rem;
}

.social-icon {
  border-color: #666;
}

.gallery {
  background-repeat: no-repeat;
}
.gallery .heading p {
  color: #666666;
}
.gallery .content-left {
  padding: 0 14% 0 17.3%;
}
.gallery .content-left .scan-here {
  text-align: center;
  font-size: 1.9rem;
  font-weight: 800;
  line-height: 1.9;
  letter-spacing: 0.14em;
  color: #222222;
}
.gallery .content-left .barcode {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.gallery .content-right {
  margin-left: -8rem;
}
@media screen and (min-width: 768px) {
  .gallery .content-right {
    margin-left: -8rem;
  }
}
@media (max-width: 575.98px) {
  .gallery .content-right {
    margin-left: 0rem;
  }
}

.heading .subtitle {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.2em;
  color: #222;
  margin: 0;
  margin-left: -24rem;
}
@media (max-width: 575.98px) {
  .heading .subtitle {
    margin-left: 0rem;
    font-size: 1.5rem;
    text-align: center;
  }
}
.heading .title {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.025em;
  color: #222;
}
.heading .content {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: -0.01em;
}

.footer-copyright {
  color: #999999;
  font-size: 1.4rem;
}

.instagram-store hr {
  margin-bottom: 6.5rem;
}
.instagram-store .title {
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}
.instagram-store > .row {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.instagram-store .banner-sm-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}
.instagram-store .banner-sm, .instagram-store .banner-lg {
  padding: 0.5rem;
}

.instagram-feed {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 2rem;
  background-color: transparent;
}
.instagram-feed::after {
  left: 0.5rem;
  top: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
}
.instagram-feed a:hover,
.instagram-feed a:focus {
  color: #cc9966;
}
.owl-carousel .instagram-feed {
  margin-bottom: 0;
}
.instagram-feed:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.4);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
.instagram-feed:hover:after,
.instagram-feed:hover .instagram-feed-content {
  opacity: 1;
  visibility: visible;
}
.instagram-feed img {
  max-width: none;
  width: 100%;
}

.instagram-feed-content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  color: #fff;
  font-weight: 400;
  font-size: 1.6rem;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
  opacity: 0;
  visibility: hidden;
}
.instagram-feed-content i {
  font-weight: normal;
  margin-right: 0.8rem;
}
.instagram-feed-content a {
  color: inherit;
}
.instagram-feed-content a:hover, .instagram-feed-content a:focus {
  color: #cc9966;
}
.instagram-feed-content a + a {
  margin-left: 2rem;
}

[class^=ico-m-]:before {
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=ico-m-]:before {
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-m-grid:before {
  content: "\ef02";
}

.ico-m-shop-bag:before {
  content: "\e842";
}

.ico-m--user-profile:before {
  content: "\e844";
}

.ico-m-user-profile:before {
  content: "\e844";
}

.footer-fix-nav {
  display: none;
}

@media screen and (min-width: 576px) {
  .intro-subtitle {
    font-size: 1.3rem;
  }
  .intro-title {
    font-size: 3rem;
    font-weight: 300;
  }
  .intro-text {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 768px) {
  .intro-subtitle {
    font-size: 1.3rem;
  }
  .intro-title {
    font-size: 3rem;
    font-weight: 300;
  }
}
@media screen and (min-width: 992px) {
  .intro-content .btn {
    min-width: 170px;
  }
  .intro-subtitle {
    font-size: 1.4rem;
  }
  .intro-title {
    font-size: 3rem;
    font-weight: 300;
  }
  .intro-text {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 576px) {
  .banner-lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%;
  }
  .banner-sm-div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .banner-sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .banner-lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .banner-sm-div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .banner-sm {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .intro-slider-container,
  .intro-slide {
    min-height: 0;
    height: 100vh;
  }
  .intro-slider-container .container,
  .intro-slide .container {
    padding-bottom: 1.7rem;
  }
  .intro-content .btn {
    min-width: 190px;
  }
  .intro-content .btn i:first-child {
    margin-right: 1rem;
  }
  .intro-content .btn i:last-child {
    margin-left: 1rem;
  }
  .intro-title {
    font-size: 3rem;
    font-weight: 300;
  }
  .intro-text {
    font-size: 1.5rem;
    font-weight: 200;
  }
  .intro-slider.owl-theme.owl-nav-inside .owl-dots {
    bottom: 6%;
  }
}
@media screen and (max-width: 1200px) {
  .instagram-store .banner-lg {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media screen and (max-width: 991px) {
  .header-middle .header-center {
    display: block;
  }
  .footer-middle .container > .row > div {
    padding-left: 3rem !important;
  }
}
@media (max-width: 575.98px) {
  .footer-fix-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    right: 0;
    display: block;
    background: #fff;
    text-align: center;
  }
  .footer-fix-nav a i {
    font-size: 21px;
    padding: 20px 7px;
    display: block;
    color: #9b9b9b;
    font-weight: 500;
  }
  .footer-fix-nav .col {
    margin: 0;
    padding: 0;
    border-right: 1px solid #edf1f4;
    height: 61px;
  }
  .footer-fix-nav svg {
    color: #9b9b9b;
    font-size: 21px;
    margin: 20px 7px;
  }
  .footer-fix-nav span.count {
    background: #ff253a;
    background: linear-gradient(135deg, #ff253a 0%, #ff8453 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff253a",endColorstr="#ff8453",GradientType=1);
    border-radius: 50px;
    font-size: 10px;
    font-weight: 500;
    height: 18px;
    right: 21px;
    line-height: 17px;
    min-width: 18px;
    position: absolute;
    top: 17px;
    color: #fff;
  }
}